<%- include('../layouts/header') %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img src="img/photo.png" class="img-thumbnail rounded-circle " alt="...">
            <h1 class="display-4">halaman utama</h1>
            <p class="lead">kamu berada di halaman utama</p>
        </div>
    </div>
    <%- include('../layouts/footer') %>